CLIENT_ID=  # ID for using SecureGPT
CLIENT_SECRET=  # Secret for using SecureGPT
PROJECT_ID=     
LOCATION=
BUCKET_NAME=    # GCS Bucket for temporary files and memo outline 
MEMO_OUTLINE_URL=   # Full GCS path to memo outline file 
MEMO_OUTLINE_MIME=text/plain    # Mime-type for memo outline file 
SERVICE_ACCOUNT=